.about{
    background-color: $jeruksaya;
    &-top{
        color: $vanillalatte;
        padding: 3vw 10vw 8vw;
        @media screen and (max-width: 1200px) {
            padding: 5vw 10vw 8vw;
        }
        @media screen and (max-width: 1024px) {
            padding: 8vw 10vw 8vw;
        }
        @media screen and (max-width: 768px) {
            padding: 3vw 10vw 8vw;
        }
        @media screen and (max-width: 380px) {
            padding: 8vw 10vw 8vw;
        }
        &-desc{
            position: relative;
            z-index: 2;
            top: -12vw;
            margin-bottom: -15vw;
            @media screen and (max-width: 1200px) {
                top: -15vw;
            }
            @media screen and (max-width: 768px) {
                top: -8vw;
                margin-bottom: 0;
            }
            & > h1{
                &:nth-child(1){
                    font-weight: 500;
                }
                &:nth-child(2){
                    font-weight: 700;
                    background-color: $greentea;
                    padding: 0% 2%;
                    display: inline-block;
                    transform: rotate(0.53deg);
                }
                font-size: clamp(35px, 10vw, 100px);
            }
            & > p{
                font-size: clamp(15px, 3vw, 25px);
                max-width: 60vw;
                padding-top: 3vw;
                @media screen and (max-width: 768px) {
                    max-width: 70vw;
                }
                @media screen and (max-width: 480px) {
                    max-width: 80vw;
                }
            }
        }
        & > img{
            position: relative;
            left: 33vw;
            top: 8vw;
            z-index: 1;
            width: 50%;
            @media screen and (max-width: 1200px) {
                width: 60%;
            }
            @media screen and (max-width: 768px) {
                left: 20vw;
                top: 20vw;
                width: 75%;
            }
            @media screen and (max-width: 480px) {
                left: 10vw;
                top: 20vw;
                width: 80%;
            }
        }
    }
    &-second{
        padding: 10vw 0;
        background-color: $miniblue;
        text-align: center;
        justify-content: center;
        align-items: center;
        & > img{
            @media screen and (max-width: 768px) {
                width: 100%;
                content: url('/images/about/about-bg-rotated.svg') !important;
            }
        }
        &-content{
            display: grid;
            padding: 5vw 20vw 0;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            gap: 5vw;
            position: relative;
            bottom: 800px;
            margin-bottom: -40vw;
            @media screen and (max-width: 1700px) {
                padding: 5vw 15vw 0;
            }
            @media screen and (max-width: 1280px) {
                bottom: 750px;
                padding: 5vw 5vw 0;
            }
            @media screen and (max-width: 1024px) {
                bottom: 650px;
            }
            @media screen and (max-width: 900px) {
                bottom: 600px;
            }
            @media screen and (max-width: 768px) {
                display: flex;
                flex-direction: column;
                bottom: 500px;
                padding: 5vw 20vw 0;
            }
            @media screen and (max-width: 610px) {
                bottom: 450px;
            }
            @media screen and (max-width: 550px) {
                bottom: 430px;
            }
            @media screen and (max-width: 480px) {
                bottom: 420px;
                padding: 5vw 20vw 0;
                margin-bottom: -60vw;
            }
            @media screen and (max-width: 400px) {
                bottom: 360px;
                margin-bottom: -70vw;
            }
            @media screen and (max-width: 320px) {
                bottom: 320px;
                margin-bottom: -80vw;
            }
            & > p{
                font-size: clamp(13px, 3vw, 19px);
                text-align: left;
                @media screen and (max-width: 768px) {
                    padding: 0 5vw;
                    margin-top: -10vw;
                }
                @media screen and (max-width: 480px) {
                    padding: 0;
                }
                @media screen and (max-width: 400px) {
                    margin-top: -18vw;
                }
            }
            &-title{
                margin-top: 2vw;
                margin-bottom: -3vw;
                margin-left: -3vw;
                @media screen and (max-width: 768px) {
                    margin-top: -50vw;
                }
                & > h1:nth-child(1){
                    position: relative;
                    z-index: 2;
                    font-weight: 700;
                    font-size: clamp(35px, 10vw, 100px);
                    color: $banana;
                    background-color: $pinkyboy;
                    padding: 0 4%;
                    left: 8vw;
                    display: inline-block;
                    transform: rotate(20deg);
                    @media screen and (max-width: 768px) {
                        left: 5vw;
                        top: 3vw;
                    }
                    @media screen and (max-width: 480px) {
                        top: 2vw;
                    }
                }
                & > h1:nth-child(2){
                    position: relative;
                    z-index: 2;
                    font-weight: 700;
                    font-size: clamp(35px, 10vw, 100px);
                    color: $greentea;
                    @media screen and (max-width: 768px) {
                        right: 13vw;
                    }
                }
                & > p{
                    position: relative;
                    z-index: 1;
                    top: -6vw;
                    left: -6vw;
                    font-size: clamp(30px, 10vw, 70px);
                    color: $greentea;
                    font-family: $ternary-font;
                    background-image: url('/images/about/left-star.svg');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: clamp(40%, 50vw, 20%);
                    padding: 5vw 0;
                    margin: 0;
                    @media screen and (max-width: 768px) {
                        background-size: 60%;
                        left: -15vw;
                    }
                    @media screen and (max-width: 480px) {
                        background-size: 45%;
                    }
                }
                & > h1:nth-child(4){
                    position: relative;
                    z-index: 2;
                    margin-top: -17vw;
                    margin-left: 15vw;    
                    font-weight: 500;
                    font-size: clamp(37px, 10vw, 120px);
                    color: $greentea;
                    @media screen and (max-width: 768px) {
                        margin-top: -25vw;
                        margin-left: 15vw;  
                    }
                }
                & > img{
                    position: relative;
                    z-index: 1;
                    top: -15vw;
                    left: 13vw;
                    width: clamp(40%, 50vw, 20%);
                    @media screen and (max-width: 1700px) {
                        top: -18vw;
                    }
                    @media screen and (max-width: 1024px) {
                        top: -25vw;
                    }
                    @media screen and (max-width: 768px) {
                        top: -25vw;
                        left: 15vw;
                        width: 50%;
                    }
                    @media screen and (max-width: 480px) {
                        width: 40%;
                    }
                }
            }
        }
    }
    &-third{
        padding: 8vw 10vw;
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        @media screen and (max-width: 768px) {
            padding: 8vw 1vw;
        }
        .small-screen{
            display: none;
            @media screen and (max-width: 768px) {
                display: flex;
            }
        }
        .large-screen{
            @media screen and (max-width: 768px) {
                display: none;
            }
        }

        &-title{
            display: flex;
            flex-wrap: wrap;
            text-align: center;
            align-items: center;
            margin: auto;
            padding-bottom: 8vw;
            @media screen and (max-width: 768px) {
                padding-bottom: 10vw;
            }
            & > .triangle-up{
                width: 0;
                height: 0;
                border-left: 25px solid transparent;
                border-right: 25px solid transparent;
                border-bottom: 50px solid $pinkyboy;
                @media screen and (max-width: 768px) {
                    border-left: 15px solid transparent;
                    border-right: 15px solid transparent;
                    border-bottom: 30px solid $pinkyboy;
                }
                @media screen and (max-width: 480px) {
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-bottom: 20px solid $pinkyboy;
                }
            }
            & > h2{
                font-weight: 500;
                font-size: clamp(20px, 5vw, 60px);
                color: $vanillalatte;
                padding: 0 2vw;
            }
        }
        &-pilars{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin: 0 auto 10vw;
            gap: 10vw;
            @media screen and (max-width: 768px) {
                gap: 5vw;
                margin: 0 auto 15vw;
            }
            &-item{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-end;
                & > img{
                    width: 80%;
                    @media screen and (max-width: 1200px) {
                        width: 75%;
                    }
                    @media screen and (max-width: 768px) {
                        width: 60%;
                    }
                    @media screen and (max-width: 480px) {
                        width: 50%;
                    }
                }
                & > p{
                    font-weight: 300;
                    font-size: clamp(10px, 3vw, 20px);
                    color: $cappuccino;
                    font-family: $primary-font;
                }
            }
        }
        &-products{
            display: flex;
            flex-wrap: wrap;
            margin: 0 auto;
            justify-content: center;
            align-items: center;
            gap: 15vw;
            @media screen and (max-width: 1024px) {
                gap: 10vw;
            }
            @media screen and (max-width: 768px) {
                gap: 0vw;
            }
            &-item{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-end;
                & > img{
                    width: 100%;
                    @media screen and (max-width: 1200px) {
                        width: 80%;
                    }
                    @media screen and (max-width: 768px) {
                        width: 60%;
                    }
                    @media screen and (max-width: 480px) {
                        width: 50%;
                    }
                }
                & > p{
                    font-weight: 300;
                    font-size: clamp(10px, 3vw, 40px);;
                    color: $cappuccino;
                    font-family: $primary-font;
                }
            }
        }
    }
    &-last{
        padding: 5vw;
        display: flex;
        background-color: $cappuccino;
        flex-direction: column;

        &-title{
            display: flex;
            padding-bottom: 5vw;
            & > h2{
                font-weight: 500;
                font-size: clamp(35px, 8vw, 120px);
                color: $greentea;
            }
            & > img{
                width: 15%;
            }
        }
        &-content{
            display: flex;
            flex-wrap: wrap;
            text-align: center;
            justify-content: center;
            gap: 5vw;
            @media screen and (max-width: 480px) {
                justify-content: center;
            }
            &-item{
                display: flex;
                flex-direction: column;
                font-family: $secondary-font;
                justify-content: flex-start;
                transition: all .8s;
                max-width: 200px;
                &-image{
                    max-width: 200px !important;
                }
                > h6{
                    font-weight: 700;
                    font-size: clamp(7px, 3vw, 13px);
                    margin-top: 1vw;
                    color: $myblue;
                }
                > p{
                    font-weight: 400;
                    font-size: clamp(7px, 2vw, 13px);
                    max-width: 200px;
                }
                &-position{
                    color: $myblue;
                }
                &-desc{
                    font-family: $primary-font;
                }
                &:hover{
                    cursor: pointer;
                    transform: scale(1.1);
                }
            }
        }
    }
}
