.home-page{
    background-color: $pinkyboy;
    &-landing{
        background-color: $pinkyboy;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        & > .top{
            text-align: center;
            padding: 8vw 0 0;
            @media (max-width: 1200px) {
                padding: 10vw 0 2vw;
            }
            @media (max-width: 1024px) {
                padding: 12vw 0 2vw;
            }
            @media (max-width: 768px) {
                padding: 15vw 0 2vw;
            }
            @media (max-width: 480px) {
                padding: 18vw 0 8vw;
            }
            @media (max-width: 380px) {
                padding: 25vw 0 8vw;
            }
            & > img{
                width: 9%;
                @media (max-width: 1024px) {
                    width: 12%;
                }
                @media (max-width: 480px) {
                    width: 20%;
                }
            }
        }
        & > .middle{
            margin: -4vw 0 0 ;
            display: flex;
            justify-content: center;
            & > h1{
                font-weight: 900;
                font-size: clamp(60px, 12vw, 120px);
                position: relative;
                color: $myblue;
                background-image: url('/images/homePage/papaya-rectangle.svg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: 100%;
                padding: 4vw 27vw 0 7vw;
                left: 20vw;
                z-index: 4;
                transform: rotate(3.48deg);
                @media (max-width: 1500px) {
                    left: 25vw;
                    padding: 3vw 30vw 0 7vw;
                }
                @media (max-width: 1200px) {
                    left: 28vw;
                    padding: 2vw 35vw 0 9vw;
                }
                @media (max-width: 768px) {
                    left: 34vw;
                }
                @media (max-width: 480px) {
                    padding: 2vw 40vw 0 10vw;
                }
                @media (max-width: 380px) {
                    left: 40vw;
                    padding: 0 40vw 0 10vw;
                }
                @media (max-width: 320px) {
                    left: 45vw;
                    padding: 0 40vw 20vw 10vw;
                }
            }
            & > h3{
                font-family: $secondary-font;
                font-weight: 400;
                font-size: clamp(48px, 10vw, 90px);
                color: $greentea;
                background-image: url('/images/homePage/yellow-star.svg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: 55%;
                transform: rotate(-14.2deg);
                padding: 10vw;
                position: relative;
                right: 18vw;
                z-index: 4;
                top: 2vw;
                @media (max-width: 1700px) {
                    right: 20vw;
                }
                @media (max-width: 1500px) {
                    right: 18vw;
                }
                @media (max-width: 1200px) {
                    right: 23vw;
                }
                @media (max-width: 1024px) {
                    background-size: 50%;
                }
                @media (max-width: 768px) {
                    right: 20vw;
                }
                @media (max-width: 480px) {
                    right: 22vw;
                }
                @media (max-width: 380px) {
                    right: 25vw;
                    top: 5vw;
                }
                @media (max-width: 320px) {
                    top: 8vw;
                }
            }

        }
        .bottom{
            margin: -12vw 0 5vw -28vw;
            display: flex;
            justify-content: center;
            @media (max-width: 1024px) {
                margin: -10vw 0 8vw -40vw;
            }
            @media (max-width: 768px) {
                margin: -10vw 0 8vw -35vw;
            }
            @media (max-width: 480px) {
                margin: -8vw 0 35vw -60vw;
            }
            & > img:nth-child(1){
                position: relative;
                right: -3vw;
                width: clamp(10%, 15vw, 20%);
                @media (max-width: 1024px) {
                    width: clamp(15%, 20vw, 25%);
                }
                @media (max-width: 480px) {
                    width: 25%;
                    right: 0;
                    align-self: flex-end;
                    left: 75vw;
                    top: 10vw;
                    transform: rotate(31.69deg);
                }
                @media (max-width: 380px) {
                    left: 80vw;
                }
            }
            & > h2{
                font-weight: 900;
                font-size: clamp(40px, 10vw, 80px);
                color: $cappuccino;
                @media (max-width: 480px) {
                    left: -10vw;
                    font-size: clamp(60px, 10vw, 90px);
                }
            }

        }
    }
        
    &-second{
        padding: 0 0 6vw 6vw;
        background-color: $jeruksaya;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        @media (max-width: 480px) {
            padding: 0 0 10vw 6vw;
        }
        & > img:nth-child(1){
            align-self: flex-end;
            margin-top: -2vw;
            width: 35%;
            @media (max-width: 768px) {
                padding: 50px 0 25px;
            }
            @media (max-width: 480px) {
                padding: 100px 0 0;
                width: 70%;
            }
        }
        & > .description{
            margin-top: -8vw;
            padding-right: 6vw;
            & > h1{
                font-weight: 900;
                font-size: clamp(40px, 10vw, 85px);
                color: $cappuccino;
                margin: 0 0 40px;
                @media (max-width: 480px) {
                    font-size: clamp(55px, 10vw, 95px);
                    max-width: 70vw;
                }
            }   
            & > p{
                font-family: $secondary-font;
                font-weight: 400;
                font-size: clamp(18px, 10vw, 35px);
                color: white;
                max-width: 75vw;
                margin: 0;
                strong{
                    font-weight: 700;
                }
                @media (max-width: 480px) {
                    max-width: 100vw;
                    font-size: clamp(10px, 10vw, 25px);
                }
            }
        }
    }
    &-third{
        padding: 8vw 6vw;
        background-color: $cappuccino;
        height: 100%;
        & > h1{
            font-weight: 900;
            color: $myblue;
            font-size: 48px;
            margin: 0 0 80px;
            @media screen and (min-width: 320px) {
                font-size: calc(48px + 48 * ((100vw - 320px) / 880));
            }
            @media screen and (min-width: 1200px) {
                font-size: 96px;
            }
        }
        &-socmed{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            @media screen and (max-width: 480px) {
                flex-direction: row;
            }
            &-items:nth-child(2){
                @media screen and (max-width: 480px) {
                    margin-left: -5vw;
                }
                @media screen and (max-width: 380px) {
                    margin-left: -15vw;
                }
            }
            &-items{
                margin-bottom: 80px;
                & > #instafeed-container{
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    gap: 3vw;
                    @media (max-width: 768px) {
                        grid-template-columns: repeat(2, 1fr);
                    }
                    & > a > img{
                        border-radius: 45px;
                    }
                    & > a:hover{
                        cursor: pointer;
                        transition: transform 330ms ease-in-out;
                        transform: scale(1.1);
                    }
                }
            }
        }
        
    }
    &-last{
        padding: 8vw 6vw 5vw;
        background-color: $pinkyboy;
        height: 100%;
        & > h1{
            font-weight: 900;
            color: $myblue;
            font-size: 48px;
            margin: 0;
            @media screen and (min-width: 320px) {
                font-size: calc(48px + 48 * ((100vw - 320px) / 880));
            }
            @media screen and (min-width: 1200px) {
                font-size: 96px;
            }
        }
        & > .partner-wrapper{
            display: flex;
            flex-wrap: wrap;
            gap: 2vw;
            align-items: center;
            margin-bottom: 80px;
        }
    }
    &-bottom{
        position: relative;
        background-color: $pinkyboy;
        overflow: hidden;
        & > img{
            width: 100vw;
            margin-bottom: -5px;
        }
    }
    
}
