.library-card{
    background: $taromilk;
    border-radius: 39px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 38vw;
    height: 25vw;
    padding: 41px;
    @media screen and (max-width: 1024px) {
        width: 50vw;
    }
    @media screen and (max-width: 768px) {
        height: 35vw;
    }
    @media screen and (max-width: 480px) {
        width: 60vw;
        height: 50vw;
        padding: 30px;
    }
    @media screen and (max-width: 320px) {
        height: 70vw;
        padding: 20px;
    }
    & > h2{
        font-family: $fira-font;
        font-weight: 700;
        font-size: clamp(20px, 5vw, 60px);
        color: $debuabu;
        border-radius: 50%;
        padding: 1vw 2vw;
        border: 3px solid $butterbts;
    }
    & > p{
        font-family: $poppins-font;
        font-weight: 300;
        font-size: clamp(15px, 2vw, 40px);
    }
    &-button{
        font-family: $fira-font;
        font-weight: 300;
        font-size: clamp(10px, 2vw, 30px);
        color: $vanilla;
        background-image: url('/images/wowmenAcademy/pink-ribbon.svg');
        background-repeat: no-repeat;
        background-position: center;
        padding: 1vw 20%;
        background-size: 100%;
    }
}
