.library-card{
    background: $taromilk;
    border-radius: 39px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 38vw;
    height: 45vh;
    padding: 41px;
    & > h2{
        font-family: $fira-font;
        font-weight: 700;
        font-size: clamp(20px, 5vw, 60px);
        color: $debuabu;
        border-radius: 50%;
        padding: 1vw 2vw;
        border: 3px solid $butterbts;
    }
    & > p{
        font-family: $poppins-font;
        font-weight: 300;
        font-size: clamp(15px, 2vw, 40px);
    }
    &-button{
        font-family: $fira-font;
        font-weight: 300;
        font-size: clamp(10px, 2vw, 30px);
        color: $vanilla;
        background-image: url('/images/wowmenAcademy/pink-ribbon.svg');
        background-repeat: no-repeat;
        background-position: center;
        padding: 1vh 20%;
        background-size: auto;
    }
}
