.product-card {
  width: 300px;
  height: 450px;
  border-radius: 25px;
  background-color: $pink-tipes;
  position: relative;
  padding: 17px;

  &-image {
    width: 100%;
  }

  &-detail {
    margin-top: 20px;
  }

  &-name {
    font-size: 16px;
    padding: 6px;
    background-color: $banana-kepok;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .25);
    border-radius: 16px;
    text-align: center;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &-second-row {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-price {
    color: white;
  }

  &-category {
    flex: 0 0 50%;
    display: flex;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .25);
    align-items: stretch;

    .value {
      flex-grow: 1;
      padding: 6px 8px;
      font-size: 12px;
      background-color: rgba(255, 255, 255, .7);
    }

    .drop-btn {
      display: flex;
      align-items: center;
      padding: 2px 4px;
      background-color: white;
    }
  }

  &-num {
    display: flex;
    align-items: center;
    margin-top: 16px;
    
    & > * {
      display: flex;
      align-items: center;
    }

    .value {
      margin: 0 12px;
      font-weight: 500;
      font-size: 18px;
      color: white;
    }

    .min-btn, .max-btn {
      border: 1px solid white;
      padding: 2px;
      border-radius: 100%;
      
      svg {
        color: white;

        path {
          stroke: white;
        }
      }
    }
  }

  &.secondary {
    background-color: $banana;

    .product-card {
      &-name {
        background-color: $jeruksaya;
      }
    }
  }

  @media (max-width: 768px) {
    width: 160px;
    height: 246px;
    padding: 8px;

    &-detail {
      margin-top: 8px;
    }

    &-name {
      font-size: 12px;
      padding: 2px 4px;
    }

    &-second-row {
      margin-top: 8px;
    }

    &-price {
      font-size: 11px;
    }

    &-category {
      .value {
        font-size: 10px;
        padding: 2px 4px;
      }

      .drop-btn {
        svg {
          font-size: 9px;
        }
      }
    }

    &-num {
      margin-top: 8px;

      .max-btn, .min-btn {
        svg {
          font-size: 8px;
        }
      }

      .value {
        font-size: 13px;
        margin: 0 6px;
      }
    }
  }
}