.rounded-rectangle{
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover{
        cursor: pointer;
    }
    &-image{
        display: block;
        margin: auto;
    }
}

.pink-square{
    background: $pinkyboy;
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 49px;
    width: 132px;
    height: 131px;
    width: max-content;
    padding: 4px;
    @media screen and (min-width: 320px) {
        width: calc(132px + (321 - 132) * ((100vw - 320px) / 880));
        height: calc(131px + (316 - 131) * ((100vw - 320px) / 880));
    }
    @media screen and (min-width: 1200px) {
        width: 321px;
        height: 316px;
    }
    & > img{
        border-radius: 49px;
    }
}

.green-rectangle{
    width: 214px;
    height: 131px;
    background: $greentea;
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 49px;
    width: max-content;
    padding: 4px;
    @media screen and (min-width: 320px) {
        width: calc(214px + (516 - 214) * ((100vw - 320px) / 880));
        height: calc(131px + (316 - 131) * ((100vw - 320px) / 880));
    }
    @media screen and (min-width: 1200px) {
        width: 516px;
        height: 316px;
    }

    & > img{
        border-radius: 49px;
    }
}

.yellow-circle{
    pointer-events: none;
    cursor: default;
    border-radius: 50%;
    background: $banana;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    width: max-content;
    padding: 4px;
    & > img{
        width: auto;
        min-width: 150px;
        border-radius: 50%;
    }
    
}
