// Basic styling
@import './fonts.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: $primary-font
}

a {
  color: inherit;
  font-family: $ternary-font;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.tesss{
  font-family: 'Natural Signature';
  font-size:42px;
}
