// Basic styling
@import './fonts.scss';
@import './colors.scss';

// Component styling
@import './components/button.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: $primary-font
}

a {
  color: inherit;
  font-family: $ternary-font;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
