// Basic styling
@import './fonts.scss';
@import './variables.scss';
@import './typography.scss';

// Component Styling
@import './components/navbar.scss';
@import './components/product-card.scss';
@import './components/trinkets.scss';
@import './components/rounded-rectangle.scss';
@import './components/order-form.scss';
@import './components/lifestyle-card.scss';
@import './components/article-card.scss';
@import './components/library-card.scss';
@import './components//footer.scss';

// Page Styling
@import './pages/shop.scss';
@import './pages/programs.scss';
@import './pages/homepage.scss';
@import './pages/articles.scss';
@import './pages/about.scss';
@import './pages/wowmen-academy.scss';


html,
body{
  padding: 0;
  margin: 0;
  font-family: $primary-font;
  box-sizing: border-box;
  overflow-x: hidden;
}

a {
  color: inherit;
  font-family: $ternary-font;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.helper-text {
  color: $magenta;
  margin-left: 12px;
}
