// Color
$myblue: #0C0958;
$jeruksaya: #EA6524;
$pinkyboy: #F088B7;
$cappuccino: #F3E3CB;
$banana: #F6CF47;
$miniblue: #92A1CE;
$vanillalatte: #F1E3CE;
$greentea: #447165;
$bluesky: #8EA1D2;
$fanta: #F15DCB;
$magenta: #FE026F;
$blueocean: #6DB4B8;
$ijolumut: #21A537;
$vanilla: #FEF8E2;
$taromilk: #E3B0E9;
$birukematian: #1F396A;
$pinklady: #E8599B;
$butterbts: #F4EB6C;
$blueband: #FCCF08;
$dark-blue: #090D54;
$pink-tipes: #E28EB5;
$banana-kepok: #FACE0F;
$pink-keputihan: #F1E3CE;

// Shadow
$shadow: 0 4px 4px rgba(0, 0, 0, .25);
$text-shadow-mobile: -1.5px 1.5px black;
$text-shadow: -4px 4px black;
